<h2>Welcome to CSE Motors!</h2>
<div class="hero">
  <div class="call-to-action">
    <h2>DMC Delorean</h2>
    <p>
      3 cup holders <br />
      SuperMan doors <br />
      Fuzzy dicel
    </p>
    <div class="own-today"></div>
    <img src="../public/images/site/own_today.jpg" alt="own today photo" />
  </div>
</div>

<div class="large-screen">
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!"(5/5)</li>
      <li>"The most futuristic ride of our day."(4.5/5)</li>
      <li>"80's livin and I love it!"(5/5)</li>
    </ul>
  </div>

  <div class="upgrades">
    <h2>DMC Delorean Upgrades</h2>
    <div class="upgrades-card">
      <section>
        <img
          src="../public/images/upgrades/flux-cap.png"
          alt="flux capacitor"
        />
        <a href="#">Flux Capacitor</a>
      </section>
      <section>
        <img src="../public/images/upgrades/flame.jpg" alt="flame decals" />
        <a href="#">Flame Decals</a>
      </section>
      <section>
        <img
          src="../public/images/upgrades/bumper_sticker.jpg"
          alt="bumper stickers"
        />
        <a href="#">Bumper Stickers</a>
      </section>
      <section>
        <img src="../public/images/upgrades/hub-cap.jpg" alt="hub caps" />
        <a href="#">Hub Caps</a>
      </section>
    </div>
  </div>
</div>
