/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
}
/******* Header CSS ***************/
#tools a,
.siteName a {
  text-decoration: none;
  color: #000;
}
.siteName a {
  font-size: 2rem;
  font-weight: 600;
}
#tools {
  margin-right: auto;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 15px;
}

#messages {
  background-color: #c2f9bb;
  border-radius: 3px;
  color: #276831;
  font-weight: 600;
}

.notice,
.notice-list {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.notice-list {
  background-color: #f4e409;
  width: 100%;
  color: #c36f09;
  font-weight: bold;
  border-radius: 5px;
}

header {
  position: relative;
  padding: 15px 2px;
  margin: 2px 0 10px 0;
}

/******* Navigation CSS ***************/
nav {
  background-color: #000;
  color: #fff;
  padding: 2px 0;
  width: 100%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 3px;
}

nav a:hover {
  color: #000;
  background-color: #fff;
  padding: 15px 10px;
}

/******* Index CSS ***************/
.hero {
  background-image: url("../images/vehicles/delorean.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.call-to-action {
  color: #01b0d3;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  max-width: 170px;
}
.call-to-action p {
  font-size: 0.9rem;
  font-weight: 600;
}
.call-to-action img {
  width: 70%;
}
.own-today {
  background-image: url("../images/site/own_today.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.reviews ul {
  padding-left: 15px;
}
.reviews ul li {
  padding: 3px 1px;
  font-size: 0.9rem;
  font-weight: 600;
}

.reviews {
  margin-bottom: 2rem;
}

.upgrades-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  width: 100%;
}

.upgrades-card section {
  margin-bottom: 1rem;
}

.upgrades-card div {
  position: relative;
}

.upgrades-card img {
  display: block;
  margin: 0 auto;
}

.upgrades-card span {
  background-color: #01b0d3;
  display: block;
  text-align: center;
  padding: 10px;
  height: 5rem;
}

.upgrades-card a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

/*********** Custom Display ***************/

#inv-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

#inv-display li {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: auto;
  text-align: center;
}

#inv-display img {
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.namePrice {
  padding-bottom: 1.5rem;
  border-top: 4px solid #000;
}
hr {
  display: none;
}

/*********** Single view ***************/

.vehicle-details {
  display: block;

  img {
    width: 100%;
  }
}

.description {
  padding: 10px 2px;
}
/*********** Register Page***************/
.register {
  display: block;
  margin: 0 auto;
  width: 350px;
  border: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.register form {
  padding: 20px 30px;
  border: 2px solid #000;
}

.register label {
  font-weight: bold;
}

.register input {
  border: 2px solid #000;
  height: 35px;
  width: 100%; /* Make inputs fill their container */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-top: 5px;
  margin-bottom: 20px; /* Add spacing between inputs */
}

.register button {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  border: transparent;
  background-color: #134074;
  color: #fff;
  cursor: pointer;
}
.register button:hover {
  background-color: #fff;
  color: #134074;
  border: 2px solid #134074;
}

button.clicked {
  border: 2px solid #000;
}

.pas-toggle-cont {
  position: relative;
}

#account_password {
  padding-right: 30px; /* Adjust padding to accommodate the icon */
}

#pswBtn {
  position: absolute;
  right: 7px; /* Adjust the position of the icon */
  top: 35%;
  transform: translateY(-50%);

  cursor: pointer;
  font-size: 20px;
}
/*********** Login Page***************/

.login {
  display: block;
  margin: 0 auto;
  width: 350px;
  background-color: #134074;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

.login form {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}
.login label {
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.login input {
  height: 30px;
  border-radius: 5px;
  border: none;
  width: 100%; /* Make inputs fill their container */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-top: 5px;
  margin-bottom: 10px; /* Add spacing between inputs */
}

.login button {
  font-weight: bold;

  padding: 5px 20px;
  border-radius: 10px;
  border: transparent;
  align-self: center;
  cursor: pointer;
}

.login button:hover {
  background-color: #fff;
  color: #134074;
  border: 2px solid #fff;
}

.signup {
  align-self: center;
  color: #fff;
}
.signup a {
  color: #fff;
}

/* Styles for invalid form input */
input:required:invalid,
input:focus:invalid {
  border: 2px solid #ff6347; /* Red border for invalid input */
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.7); /* Red box shadow for invalid input */
}

/* Styles for valid form input */
input:required:valid {
  border: 2px solid #32cd32; /* Green border for valid input */
  box-shadow: 0 0 5px rgba(50, 205, 50, 0.7); /* Green box shadow for valid input */
}
/*********** Large Screen ***************/

@media screen and (min-width: 700px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #wrapper {
    background-color: #fff;
    border: 4px solid #01b0d3;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .large-screen {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .upgrades .upgrades {
    grid-column: 1 / span 1; /* Starts at column line 1, spans 1 column */
    grid-row: 1; /* Occupies row 1 */
  }

  .reviews {
    grid-column: 2 / span 1; /* Starts at column line 2, spans 1 column */
    grid-row: 1; /* Occupies row 1 */
  }

  .reviews li {
    margin-bottom: 1.3rem;
  }

  .vehicle-details {
    display: flex;
    gap: 10px;
  }
}
