<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> <% res.redirect('/') %> <% } %> <%# messages() %>

<div class="details-container">
  <!-- Display individual item details here -->
  <%= itemHTML %>
</div>
