<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> <% res.redirect('/') %> <% } %> <%- messages() %>

<div class="management-container">
  <p><a href="/inv/add-classification">Add New Classification</a></p>
  <p><a href="/inv/add-inventory">Add New inventory</a></p>

  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those inventory items.</p>
  <%- classificationSelect %>
  <table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
