<h1><%= title %></h1>
<p><%= message %></p>
<p>
  But don't worry, we're working on it! In the meantime, why not enjoy a cup of
  tea and contemplate the mysteries of the universe? Or do anything thta makes
  you happy!!
</p>
